# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/local.properties
android/key.properties
android/*.keystore
android/*.jks
android/app/google-services.json
!android/app/src/main/res/values/strings.xml

# iOS/macOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GoogleService-Info.plist
macos/Flutter/Generated.xcconfig
macos/Runner/GoogleService-Info.plist
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcscmblueprint
*.xcuserstate
DerivedData/
Pods/
.xcworkspace/

# Environment variables & Secrets
.env
.env.*
*.secret
secrets.json
firebase_keys.dart
ios/Runner/ExportOptions.plist
macos/Runner/ExportOptions.plist

# IDEs
.idea/
.vscode/
*.iml
*.iws
.project
.settings/
.classpath

# Misc
.DS_Store
*.log
docs/github-actions-ios-secrets.md
docs/github-actions-ios.md
